{% extends 'users/userbase.html'%}
{%block contents%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML page</title>
</head>
<body>     

<section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

      
      <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <center>
                <h3>LRC</h3>
            <table border="1">
                <tr><td>LR_Accuracy:</td><td>{{accuracy.LR}}</td> </tr>
                <tr><td>LR_precision:</td><td>{{precision.LR}}</td> </tr>
                <tr><td>LR_recall:</td><td>{{recall.LR}}</td> </tr>
                <tr><td>LR_f1score:</td><td>{{f1score.LR}}</td> </tr>
                <!-- <tr><td>DECISION TREE_confusionmatrix:</td><td>{{confusionmatrix.DT}}</td> </tr> -->
            </table>
            </center>

           </div>
        </div><!-- End Service Item -->

        
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <center>
                <h3>DTC</h3>
            <table border="1">
                <tr><td>DTC_Accuracy:</td><td>{{accuracy.DTC}}</td> </tr>
                <tr><td>DTC_precision:</td><td>{{precision.DTC}}</td> </tr>
                <tr><td>DTC_recall:</td><td>{{recall.DTC}}</td> </tr>
                <tr><td>DTC_f1score:</td><td>{{f1score.DTC}}</td> </tr>
                
            </table>
            </center>  
        



            </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <center>
                <h3>RFC</h3>
            <table border="1">        
                <tr><td>RFC_Accuracy:</td><td>{{accuracy.RFC}}</td> </tr>
                <tr><td>RFC_precision:</td><td>{{precision.RFC}}</td> </tr>
                <tr><td>RFC_recall:</td><td>{{recall.RFC}}</td> </tr>
                <tr><td>RFC_f1score:</td><td>{{f1score.RFC}}</td> </tr>
                
        
            </table>
            </center>


             </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            <center>
                <h3>SVC</h3>
            <table border="1">        
                <tr><td>SVC_Accuracy:</td><td>{{accuracy.SVC}}</td> </tr>
                <tr><td>SVC_precision:</td><td>{{precision.SVC}}</td> </tr>
                <tr><td>SVC_recall:</td><td>{{recall.SVC}}</td> </tr>
                <tr><td>SVC_f1score:</td><td>{{f1score.SVC}}</td> </tr>
                
        
            </table>
            </center>


           </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <center>
                  <h3>GBC</h3>
              <table border="1">        
                  <tr><td>GBC_Accuracy:</td><td>{{accuracy.GBC}}</td> </tr>
                  <tr><td>GBC_precision:</td><td>{{precision.GBC}}</td> </tr>
                  <tr><td>GBC_recall:</td><td>{{recall.GBC}}</td> </tr>
                  <tr><td>GBC_f1score:</td><td>{{f1score.GBC}}</td> </tr>
                  
          
              </table>
              </center>
  
  
             </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <center>
                  <h3>XGBC</h3>
              <table border="1">        
                  <tr><td>XGBC_Accuracy:</td><td>{{accuracy.XGBC}}</td> </tr>
                  <tr><td>XGBC_precision:</td><td>{{precision.XGBC}}</td> </tr>
                  <tr><td>XGBC_recall:</td><td>{{recall.XGBC}}</td> </tr>
                  <tr><td>XGBC_f1score:</td><td>{{f1score.XGBC}}</td> </tr>
                  
          
              </table>
              </center>
  
  
             </div>
          </div><!-- End Service Item -->

       
  </section>
</body>
</html>
{%endblock%}



